{
    "layer": "top",
    "position": "top",
    "height": 24,
    "modules-left": ["hyprland/workspaces", "sway/mode", "custom/spotify"],
    "modules-center": ["sway/window"],
    "modules-right": ["pulseaudio", "battery", "tray", "clock"],
    "hyprland/workspaces": {
        "disable-scroll": false,
        "all-outputs": true,
        "format": "{icon} {name}",
        "format-icons": {
            "1": "",
            "2": "",
            "3": "",
            "4": "",
            "5": "",
            "6": "",
	        "7": "",
            "8": "",
            "9": "",
            "10": "",
            "urgent": "Urgent",
            "focused": "Focused",
            "default": "",
            
        },
        "on-scroll-up": "hyprctl dispatch workspace e+1",
        "on-scroll-down": "hyprctl dispatch workspace e-1",
        "on-click": "activate"
    },
    "sway/mode": {
        "format": "<span style=\"italic\">{}</span>"
    },
    "tray": {
        "spacing": 10
    },
    "clock": {
        "format": "{:%I:%M %p}",
        "format-alt": "{:%Y-%m-%d}"
    },
    "battery": {
        "bat": "BAT0",  // Make sure this is correct based on your system's battery identifier
        "states": {
            "warning": 30,
            "critical": 15
        },
        "format": "{capacity}% {icon}"
    },
    "pulseaudio": {
        "format": "{volume}% {icon}",
        "format-bluetooth": "{volume}% {icon}",
        "format-muted": "",
        "format-icons": {
            "headphones": "",
            "handsfree": "",
            "headset": "",
            "phone": "",
            "portable": "",
            "car": "",
            "default": ["", ""]
        },
        "on-click": "pavucontrol"
    },
    "custom/spotify": {
        "format": " {}",
        "max-length": 40,
        "interval": 30,
        "exec": "$HOME/.config/waybar/mediaplayer.sh 2> /dev/null",
        "exec-if": "pgrep spotify"
    }
}
